<footer class="text-center text-white mt-5" style="background-color: #45637d;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Iframe -->
        <section class="">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="ratio ratio-16x9">
                        <iframe width="688" height="384" src="https://www.youtube.com/embed/33sW9_T5kYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Urban travel

    </div>
    <!-- Copyright -->
</footer>